
<div class="fav-container mt-5">
  <h1 class="dashboard">My Favorite Recipes</h1>
  <div id="recipes-container">
    {{#each favoriteDishes as |dish|}}
    <div class="card-header">
      <a class="card-link" href="/recipe/{{dish.spoon_id}}_true">{{dish.name}}</a>
    </div>
    <div class="card-body">
      <img src={{dish.picture_source}} alt="picture of a dish" />
      <p>{{dish.calories}}</p>
      <button data-id="{{dish.spoon_id}}" class="remove-button">Remove from Favorites</button>
    </div>
    {{/each}}
  </div>
</div>

