<div>

  <h1>{{result.title}}</h1>

  <div>
    <h2>Instructions</h2>
    <ol>
      {{#each result.instructions as |instruction|}}
      <li>
        {{instruction.step}}
      </li>
      {{/each}}
    </ol>
  </div>
  <div>
    <h2>Ingredients</h2>
    <ul>
      {{#each result.ingredients as |ingredient|}}
      <li>
        {{ingredient.name}} {{ingredient.amount}} {{ingredient.unit}}
      </li>
      {{/each}}
      <ul>
  </div>
  <div>
    <h2>Nutrients</h2>
    <ul>
      {{#each result.nutrients as |nutrient|}}
      <li>
        {{nutrient.name}} {{ingredient.amount}} {{ingredient.unit}} {{ingredient.percentOfDailyNeeds}}
      </li>
      {{/each}}
    </ul>
  </div>


  <button id="add-to-favorites" class="heart-button">Add to Favorites</button>

</div>