<div>

  <h1 id="dish_title">{{result.title}}</h1>
  <img id="dish_pic" src={{result.imgSource}} alt='picture of a dish' />
  Servings: {{result.servings}}<br />
  Time to cook: {{result.readyInMinutes}} minutes.
  {{#if result.instructions }}
  <div>
    <h2>Instructions</h2>
    <ol>
      {{#each result.instructions as |instruction|}}
      <li>
        {{instruction.step}}
      </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}
  <div>
    <h2>Ingredients</h2>
    <ul>
      {{#each result.ingredients as |ingredient|}}
      <li>
        {{ingredient.name}} {{ingredient.amount}} {{ingredient.unit}}
      </li>
      {{/each}}
      <ul>
  </div>
  <div>
    <h2>Nutrients</h2>
    <ul id="dish_nutr">
      {{#each result.nutrients as |nutrient|}}
      <li>
        {{nutrient.name}} {{nutrient.amount}} {{nutrient.unit}} {{nutrient.percentOfDailyNeeds}}%
      </li>
      {{/each}}
    </ul>
  </div>

  {{#unless favorite}}
  <button id="add-to-favorites" class="heart-button">Add to Favorites</button>
  {{else}}
  <button id="delete-from-favorites" class="brokenheart-button">Remove from Favorites</button>
  {{/unless}}

</div>