<div>

  <h1 id="dish-title">{{result.title}}</h1>
  <img id="dish-pic" src={{result.imgSource}} alt='picture of a dish' />

  <h2>Servings: {{result.servings}}</h2>

  <h2>Time to cook: {{result.readyInMinutes}} minutes.</h2>
  {{#if result.instructions }}
  <div class="instructions">
    <h2>Instructions</h2>
    <ol>
      {{#each result.instructions as |instruction|}}
      <li>
        {{instruction.step}}
      </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}
  <div>
    <h2>Ingredients</h2>
    <table>
      <tr>
        <th class="ingredient-column">Ingredient</th>
        <th class="amount-column">Amount</th>
      </tr>
      {{#each result.ingredients as |ingredient|}}
      <tr>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.amount}} {{ingredient.unit}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
  <div>
    <h2>Nutrients</h2>
    <table id="dish-nutr">
      <tr>
        <th class="nutrient-column">Name</th>
        <th class="nutrient-column">Amount</th>
        <th class="nutrient-column">% of Daily Needs</th>
      </tr>
      {{#each result.nutrients as |nutrient|}}
      <tr>
        <td class="nutrient-column">{{nutrient.name}}</td>
        <td class="nutrient-column">{{nutrient.amount}} {{nutrient.unit}}</td>
        <td class="nutrient-column">{{nutrient.percentOfDailyNeeds}}%</td>
      </tr>
      {{/each}}
    </table>

  </div>

  {{#unless favorite}}
  <button id="add-to-favorites" class="heart-button">Add to Favorites</button>
  {{/unless}}

</div>